extends layout.pug
include mixins.pug

block content
    h3 🛍️ Checkout Successful
    +greeting
    p We hereby confirm your purchase of the #{plan.nickname} Plan at ESN Heidelberg.
    br
    +checkoutSuccessfulDetails(checkoutSession, subscription, plan)
    br
    p We're excited having you with us! Your contributions as a volunteer are invaluable, and we sincerely thank you for your dedication ❤️.