include mixins.pug

doctype html
html
    head
        title Notification Email
        link(rel="stylesheet", href="styles.css")
    body
        header
        main
            block content
            +signOff
            +signature
        footer