p Payment Failed at ESN Heidelberg Member Portal.
p Unfortunately the Administrator has not yet configured this mail. If you see this you did something wrong. If you need more help just contact vorstand@esn-heidelberg.com
br
p Little help:
p: For sure you fucked up something. Check your payment details or you ran out of money.