p Attention your ESN Heidelberg subscription is about to renew. If you like to stay a member and contribute, just don't do anything.
p But if you wish to cancel your membership, now would be the time to login to the ESN Member Portal (https://member.esn-heidelberg.de) and cancel your subscription.
p Unfortunately I have not yet figured out when this mail is being sent, just don't procastinate like me not doing this email properly.
p T端del端端端