extends layout.pug
include mixins.pug

block content
    h1 Subscription Cancelled

    +subscriptionDetails(subscription)
    +planDetails(plan, 'Current')
    +cancellationDetails(subscription)

    p Your subscription will remain active until #{new Date(subscription.cancel_at * 1000).toLocaleString()}

    +billingDetails(subscription)
