extends layout.pug
include mixins.pug

block content
    h3 Your ESN Membership has been Reactivated! 🎉
    +greeting
    p We've received your request and hereby reactivated your ESN Membership.
    br
    +subscriptionDetails(subscription, 'Active')
    br
    +pleaseNote
    ul
        li Your reactivation did not incur any additional charges, and everything remains the same as before.
        li If your reactivation was made by mistake, you can easily cancel it again free of charge until&nbsp;
            +periodEndDate(subscription)
            | &nbsp;by visiting the&nbsp;
            +portalLink
            | &nbsp;and clicking on the "Cancel" button.
    br
    p We're excited to have you back with us! Your contributions as a volunteer are invaluable, and we sincerely thank you for your dedication ❤️.