p Hey you!
p I guess you joined 6 months ago. I hope you like it at ESN. This is just a friendly (unfinished) mail to inform you that it has been 180 days and your trial is about to end. Soon the member fee will be taken from your account.
p To avoid unnecessary charges, please check your payment method as soon as possible by visiting the Member Portal and after login in, clicking on "Manage Membership".
p Make sure it is correct and you have enough money on your account.
p I wish you a great time at ESN Heidelberg.

p PS: This mail is still work in progress. I gambled to finish this before anybody could see it. Clearly I lost. If you have any problems contact IT.