extends layout

block content
    .container.mt-5
        .row
            .col-lg-10.offset-lg-1
                h1.mb-3 Imprint
                p.mb-3
                    strong  Erasmus Student Network Heidelberg e.V.
                    br
                    | Postfach 12 04 31
                    br
                    | 69066 Heidelberg
                    br
                    | Germany
                    br
                    | Email: #[a(href='mailto:vorstand@esn-heidelberg.com') vorstand@esn-heidelberg.com]
                br
                h4.mb-3 Content of Online Offerings:
                p.mb-4 Erasmus Student Network Heidelberg e.V. does not guarantee the timeliness, correctness, completeness, or quality of the provided information. Liability claims relating to material or immaterial damage caused by the use or non-use of the information provided or by the use of incorrect and incomplete information are fundamentally excluded unless we can be shown to have acted willfully or grossly negligent. All offers are non-binding. We expressly reserve the right to change, supplement, delete parts of the pages, or the entire offer without separate announcement, or to cease publication temporarily or permanently.
                br
                h4.mb-3 References and Links:
                p.mb-4 For direct or indirect references to external Internet sites ("links") that are outside our area of responsibility, a liability obligation would only come into force if we are aware of the contents and it would be technically possible and reasonable to prevent the use of illegal content. We hereby expressly declare that at the time the links were created, no illegal content was discernible on the linked pages. We have no influence on the current and future design, content, or authorship of the linked pages. Therefore, we hereby expressly distance ourselves from all contents of all linked/connected pages that were changed after the link was set. This statement applies to all links and references within the internet offering.
                br
                h4.mb-3 Copyright and Trademark Law:
                p.mb-4 We strive to respect the copyrights of the graphics, sound documents, video sequences, and texts used in all publications, to use graphics, sound documents, video sequences, and texts created by ourselves or to resort to license-free graphics, sound documents, video sequences, and texts. All brand and trademarks mentioned within the internet offering and possibly protected by third parties are subject without restriction to the provisions of the applicable trademark law and the ownership rights of the respective registered owners. The mere mention of a brand does not imply that it is not protected by third-party rights! The copyright for published objects created by us remains solely with us. Any duplication or use of such graphics, sound documents, video sequences, and texts in other electronic or printed publications is not permitted without our express consent.
                br
                h4.mb-3 Licensed Third-Party Material:
                p.mb-4 We use Bootstrap Icons including the GitHub logo and Google logo for the Google Sign In feature.
                br
                h4.mb-3 Data Protection:
                p.mb-4 If there is the possibility to enter personal or business data (email addresses, names, addresses) within the internet offering, the disclosure of this data by the user is expressly voluntary. The use and payment of all offered services are permitted - if technically possible and reasonable - without providing such data or by providing anonymized data or a pseudonym. For more details about your data protection, please read the #[a(href='/privacy') Privacy Policy].
                br
                h4.mb-3 Legal Validity of this Disclaimer:
                p.mb-4 This disclaimer is to be regarded as part of the internet offering which you were referred from. If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain uninfluenced by this fact.
                br
