doctype html
html
  head
    title ESN Heidelberg Membership
    // Bootstrap CSS
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css", integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9", crossorigin="anonymous")
    // Font Awesome
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/fontawesome.min.css", integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm", crossorigin="anonymous")
    // Custom CSS
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
    // jQuery required for Bootstrap's JavaScript Plugins
    // script(src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js")
    // Popper.js
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js", integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r", crossorigin="anonymous")
    // Bootstrap's JavaScript
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js", integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa", crossorigin="anonymous")
