doctype html
html
    head
        // Set title and import necessary stylesheets and scripts
        title ESN Heidelberg Member Portal
        link(rel="icon", href="/images/favicon.png")
        // Bootstrap CSS
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css", crossorigin="anonymous")
        // Bootstrap Icons
        // link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css", rel="stylesheet")


        // Custom CSS
        link(rel="stylesheet", href="/stylesheets/style.css")

    body(data-bs-theme="light")
        nav.navbar.navbar-expand-md.bg-body.py-3.sticky-top.navbar-border
            .container
                a.navbar-brand.d-flex.align-items-center(href="/home")
                    span ESN Heidelberg Member Portal
                if signedIn
                    button.navbar-toggler(data-bs-toggle="collapse", data-bs-target="#navcol-3")
                        span.visually-hidden Toggle navigation
                        span.navbar-toggler-icon
                .collapse.navbar-collapse#navcol-3
                    ul.navbar-nav.mx-auto
                    if signedIn
                        form(action="/logout", method="POST")
                            input(type='hidden', name='_csrf', value=csrfToken)
                            button.btn.btn-primary.logout-button(type="submit") Logout

        // Blank content block to be filled by individual pages
        block content
        // Popper.js
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js", crossorigin="anonymous")
        // Bootstrap's JavaScript
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js", crossorigin="anonymous")

        //- Footer
        footer.text-center.py-4
            hr
            .container
                .row
                    .col.text-left
                        p.text-muted.my-2 © #{new Date().getFullYear()} Erasmus Student Network Heidelberg e.V.
                    .col.text-end
                        ul.list-inline.my-2
                            li.list-inline-item
                                a.no-underline.link-secondary(href="https://esn-heidelberg.de/satellite4/aboutus/legal_info") Imprint
                            li.list-inline-item.text-muted.my-2 Version: #{process.env.APP_VERSION}
                            li.list-inline-item
                                a(href="https://github.com/fabsau/ESNHDMember")
                                    img(src="/images/github.svg", alt="GitHub")
