extends layout

block content
    nav.navbar.navbar-light.bg-light
        a.navbar-brand(href='/') ESN Heidelberg Member Portal
    .container.mt-5
        h1 ESN Heidelberg Membership Management
        p
        p Please sign in with your ESN Google account.

        //- Display any error messages related to sign-in
        if errorMessage
            .alert.alert-danger(role='alert')
                p= errorMessage

        //- Google Sign-In Button
        a.btn.btn-light(href='/login')
            img(src="/images/Google_logo.svg", width="20", alt="Google sign-in")
            |  Sign in with Google
    //- Footer
    footer.text-center.mt-5.mb-3
        p &copy; ESN Heidelberg #{new Date().getFullYear()}
