extends layout

block content
    .card.bg-primary.text-white.rounded.p-4.py-5.my-5
        h1.fw-bold.text-center.mb-4 Welcome
        p.text-center.mb-4 To manage your Membership payments, please sign in with your @esn-heidelberg.de Account. If you are not registered yet, please signup with the button below.
        .d-flex.flex-column.align-items-center
            a.btn.btn-light.google-sign-in-button(href="/login") Sign in with Google
            p
            a.btn.btn-danger.signup-button(href="https://forms.gle/QFcwvL79W9VR3ntD7" target="_blank") Signup
